.container {
  padding: 0 2rem;
}

.title {
  margin-top: 4rem;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.wrapper {
	padding: 0 1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  .title {
    color: white;
  }
}
